@font-face {
  font-family: 'Roboto Black Italic';
  src: url('assets/fonts/Roboto_Black_Italic/Roboto-Black-Italic.ttf');
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('assets/fonts/Noto_Sans_KR/NotoSansKR-Light.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('assets/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('assets/fonts/Noto_Sans_KR/NotoSansKR-Medium.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('assets/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf');
  font-style: normal;
  font-weight: 700;
}

* {
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
